@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "Proxima Nova";
  src: url("~assets/fonts/ProximaNova/proximanova_regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("~assets/fonts/ProximaNova/proximanova_bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("~assets/fonts/ProximaNova/proximanova_extabold.otf") format("otf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --basic-blue: #0c73fe;
  --basic-gray: #e3e3e3;
  --dark-blue: #1b64c6;
  --text-black: #2d2d2d;
  --footer-black: #212121;
  --dark-gray: #d8d8d8;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: var(--text-black);
  margin: 0;
  padding: 0;
}

/* fonts */

.inter-med {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.inter-semi {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.proxima-regular {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
}

.proxima-bold {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
}

.proxima-extra {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 40px;
}

/* fast */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
