@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --text-black: #2d2d2d;
  --basic-blue: #0c73fe;
  --basic-gray: #e3e3e3;
  --dark-blue: #1b64c6;
  --footer-black: #212121;
  --dark-gray: #d8d8d8;
  --placeholder-gray: #b3b3b3;
  --input-bg: #f1f3ff;

  --font-family: 'Inter', sans-serif;
  --font-size: 16px;

  --screen-sm: 360px;
  --screen-md: 768px;
  --screen-lg: 1366px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-black);
  overflow-x: hidden;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--text-black);
}

h1,
h2,
h3 {
  margin-bottom: 24px;
}

button {
  outline: none;
  background: transparent;
  border: none;
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--text-black);
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  color: var(--text-black);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
